@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

body {
	margin: 0;
	width: 100%;
	max-width: 100%;
}

.header-backround {
	width: 100%;
	max-width: 100%;
	display: block;
	background-color: #F6F2F2;
	padding-top: 29.1px;
}

header {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 1249px;
	min-height: 89px;	
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	justify-content: center;
}

.menu-bar {
	display: flex;
	flex-wrap: wrap;
	float: none;
	margin-top: 0px;
	margin-bottom: 0px;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}
.menu-items {
	display: flex;
	justify-content: center;
	align-items: center;

}

.menu-items a {
	display: flex;
	padding: 39px 30px 30px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
	color: #E0E0E0;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-items a:hover {
	background-color: #FF3F40;
}

main {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
/*	max-width: 1249px;*/
	margin: 0 auto;
}

.page-1-backround {
	display: block;
	background-color: #F6F2F2;
}

.page-1 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 1249px;	
	margin: 0 auto;
	margin-top: 87px;
	padding-bottom: 111px;	
}

.left-side-1 {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-start;
	padding-right: 15px;
	padding-top: 15px;
	width: 50%;
}

.h1-style {
	font-family: Open Sans;
	margin-top: 0px;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	text-transform: uppercase;
}

.org {
	word-break: break-all;
}

.text-page-1 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding-right: 20px;
	padding-bottom: 64px;
	margin: 0 0;
	color: rgba(000,000,000,0.7);
}	

.left-side-1 a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 227px;
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
	background-color: #FF2D2D;
	color: #FFFFFF;
	border-radius: 5px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
}

.right-side-1 {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	padding-top: 15px;
}

.right-side-1 img {
	box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
}

.page-2 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 100px;	
	max-width: 1249px;
	padding-bottom: 112px;	
}

.left-side-2 {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-start;
	padding-right: 15px;
	padding-top: 15px;
	width: 50%;
}

.h2-style {
	font-family: Open Sans;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
}

.left-side-2 a {
	display: flex;
	justify-content: center;
	border: 2px solid #FF0000;
	align-items: center;
	width: 227px;
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.0001);
	color: #FF2D2D;
	border-radius: 5px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
}

.right-side-2 {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	padding-top: 15px;
}

.services {
	padding-top: 10px;
}

.h3-style {
	font-family: Open Sans;
	margin-top: 0px;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
}

.text-page-2 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding-right: 20px;
	color: rgba(000,000,000,0.7);
}	

.border-line {
	max-width: 1249px;
	width: 100%;
	height: 2px;
	margin: 0 auto;
	background-color: #ECECEC;
	border: none; 
}

.page-3 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 100px;	
	max-width: 1249px;
	padding-bottom: 137px;	
 }

.header-page-3 {
	display: block;
	width: 100%;
	text-align: center;
}

.text-page-3 {
	max-width: 536px;
	margin: 0 auto;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-size: 16px;	
}

.border-line-red {
	width: 134px;
	height: 3px;
	margin: 0 auto;
	margin-top: 33px;
	background-color: #FF2D2D;
	border: none;
}

.nav-menu-portfolio {
	margin: 0 auto;
	margin-top: 86px;
}

.menu-portfolio {
	display: flex;
	float: none;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.menu-items-protfolio a {
	display: flex;
	margin-right: 55px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-items-protfolio a:hover {
	color: #FF2D2D;
}


.Portfolio-tablets {
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.Portfolio-images {
	flex: 1 1 24%;
    min-width: 250px;
    max-width: 299px;
    height: 291px;
    margin-bottom: 18px;
    object-fit: cover;
}

.page-4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: flex-start;
	margin: 0 auto;
	max-width: 1249px;
	width: 100%
	padding-bottom: 112px;	
	margin-bottom: 100px;
}

.header-page-4 {
	width: 100%;
    text-align: left;
}

.text-page-4 {
	max-width: 479px;
	width: 100%;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-size: 16px;
	margin-top: 34px;		
}

.border-line-red-left {
	max-width: 134px;
	width: 100%;
	height: 3px;
	margin-top: 33px;
	margin-left: 0px;
	background-color: #FF2D2D;
	border: none;
}

.Team-photos {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: flex-end;
	margin-top: 67px;
	position: relative;
}

.big-photo {
	display: block;
   	object-fit: cover;
   	width: 324px;
    height: 460px;
   	background-color: #F2F2F2;
	margin-right: 65px;
}

.description {
	display: block;
	position: absolute;
	top: 5px;
	left: 393px;
    max-width: 642px;
}

.Boss-name {
	display: block;
	font-family: Open Sans;
	margin-top: 0px;
	margin-bottom: 29px;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;	
	text-transform: uppercase;
}

.description-text {
	display: block;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-size: 16px;
	margin-bottom: 46px;
}

.social-networks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;	
	padding-left: 0px;
}

.social-networks a {
	font-family: Open Sans;
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	padding-right: 15px;
	color: #000000;
}

.social-networks a:hover {
	color: #FF2D2D;
}

.small-photos {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.small-photo {
	position: relative;
    margin-top: 18px;
    margin-right: 18px;
}

.small-photo-description {
	/*visibility: hidden;*/
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;	
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
    margin: 0 0;	
}

.small-photo img {
	display: block;
   	object-fit: cover;
   	width: 197px;
    height: 214px;
   	background-color: #F2F2F2;	
}

.page-5-backround {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #2c2c2c;
}

.Subscription-header {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
	margin-top: 151px;
	max-width: 1129px;
}

.subscription-text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;	
	max-width: 573px;
	margin: 0 auto;
	margin-top: 18px;
	margin-bottom: 57px;
}

.page-5-backround form {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 114px;
}

.page-5-backround input {
	display: flex;
    flex: 0 1 521px;
    max-width: 521px;
    min-height: 82px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	margin-right: 22px;
	margin-bottom: 10px;
}

.page-5-backround button {
	display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 700;
    width: 214px;
    min-height: 82px;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
	margin-bottom: 10px;
}

.page-6-backround {
	width: 100%
	max-width: 100%;
	position: relative;
	margin-bottom: 112px;
}

.page-6 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
    align-items: flex-start;
	margin: 0 auto;
	max-width: 1249px;
}

.header-page-6 {
	margin-top: 104px;
}

.text-page-6 {
	max-width: 753px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-size: 16px;
	margin-top: 34px;		
}

.page-6 form {
	margin-top: 58px;
	/*width: 100%;*/
	max-width: 100%;
}

.input-name-and-email {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.input-name {
	width: 100%;
	max-width: 342px;
	min-height: 71px;
	background-color: #f3f3f3;
	border-radius: 5px;
	border: none;
/*	padding-left: 54px;*/
	color: #000000;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	margin-right: 40px;
	margin-top: 15px;
}

.input-email {
	width: 100%;
	max-width: 342px;
	min-height: 71px;
	background-color: #f3f3f3;
	border-radius: 5px;
	border: none;
/*	padding-left: 54px;*/
	color: #000000;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	margin-top: 15px;
}

.input-message {
	resize: none;
    font-size: 16px;
    font-family: Open Sans;
	font-style: normal;
    width: 100%;
    max-width: 735px;
    height: 249px;
    box-sizing: border-box;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-top: 43px;
    margin-bottom: 43px;	
}

.button-send-message {
	width: 100%;
	max-width: 735px;
	min-height: 75px;
	background-color: #FF3B3B;
	font-family: Open Sans;
	font-style: normal;
	border: none;
	border-radius: 5px;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.contact-info {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 580px;
	max-width: 580px;
	min-height: 485px;
	background-color: #2D2D2D;
	border-radius: 5px;
}

.header-contact-info {
	margin-top: 141px;
	margin-left: 81px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.text-contact-info {
	max-width: 315px;
	margin-left: 81px;
	margin-top: 31px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
}

.text-contact-email {
	margin-left: 81px;
	margin-top: 31px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
	word-break: break-all;
}

.text-contact-tel {
	margin-left: 81px;
	margin-top: 31px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
}

footer {
	width: 100%;
	min-height: 113px;
	background-color: #313030;
}

.footer-wrap {
	width: 100;
	min-height: 113px;
	max-width: 1249px; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.footer-text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	color: #B8B8B8;
}

.logo-images {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	max-width: 200px;
	display: flex;
	flex-wrap: wrap;
	/*margin-top: 48px;
	margin-bottom: 32px;*/ 
}

.logo-images a {
	/*padding-left: 5px;*/
	padding-left: 10px;
}

@media screen and (max-width: 400px) {
	.menu-bar {
		flex-direction: column;
	}	
}

@media screen and (max-width: 900px) {

	.description {
   	 position: initial;
	}
}

@media screen and (max-width: 1286px) {
	.left-side-1 {
		width: 50%;
		/*height: auto;*/
	}

	.h1-style {
		font-size: 5vw;
	}

	.right-side-1 {
		display: block;
		width: 50%;
		padding-top: 15px;
	}

	.right-side-1 img {
		width: 100%;
		height: auto;
	}

	.Portfolio-images {
		width: 299px;
		max-width: 100%;
		margin-right: 1vw;
	}

}

@media screen and (max-width: 700px) {
	.page-1 {
		flex-wrap: wrap;
	}
	.left-side-1 {
		width: 100%;
	}

	.h1-style {
		font-size: 50px;
	}

	.right-side-1 {
		display: block;
		padding-top: 15px;
		width: 100%;
	}

	.page-2 {
		flex-wrap: wrap;
	}

	.left-side-2 {
		width: 100%;
	}

	.right-side-2 {
		display: block;
		padding-top: 15px;
		width: 100%;
	}

	.big-photo {
		margin-right: 0px;
	}
}

@media screen and (max-width: 400px) {
	.page-5-backround form {
    	flex-wrap: wrap;
	}
	.page-5-backround input {
		margin-right: 0;
	}
}	

@media screen and (max-width: 1400px) {
.contact-info {
	position: relative;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;

	}
.header-contact-info {
	margin-top: 0;
	}
}	
